@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@300..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Main body settings*/
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 18px;
    overflow-x: scroll;
}

.header-part {
    flex: 1;
    color: #FFF;
    background-color: #78594E;
    /*background-color: #73554B;*/
    width: 100%;
}

.coffee-variety {
    flex: 2;
}

.quote-part {
    flex: 1;
    /*background-color: #E6B46C;*/
    background-color: #F5E0C2;
    width: 100%;
    margin-block: 50px;
}

.footer {
    flex: 1;
}

.header,
.cafe-info,
.quote {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
}

.coffee-variety img {
    display: block;
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
    border-radius: 18px;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#logo {
    font-family: 'Bubblegum Sans', Quicksand, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/*Last part of the header part with a picture*/
.cafe-info{
    display: flex;
    gap: 40px;
}

.cafe-info img {
    display: block;
    min-width: 500px;
    border-radius: 18px;
}

.join-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 500px;
    gap: 20px;
}

.join-us span {
    font-size: 24px;
    font-weight: 700;
}

.join-us-button {
    color: #FFF;
    background-color: #946E65;
    font-size: 18px;
    border-radius: 30px;
    border-style: groove;
    border-color: #E1D7D5;
    padding: 15px 30px;
}

/*Four-pics-layout*/
h3 {
    color: #946E65;
    padding-block: 30px;
}
.coffee-variety {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    color: #78594E;
    font-weight: 500;
}

.vietnamese,
.turkish,
.affogato,
.cafeaulait {
    flex-basis: 250px;
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}

/*Quote part*/
.quote {
    font-size: 30px;
    font-style: italic;
    padding: 80px;
    color: #78594E;
}

/*Sign up part of the website*/
.mocha-club {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px 70px;
    background-color: #946E65;
    border-radius: 18px;
    color: #FFF;
}

.mocha-club-info {
    flex-basis: 600px;
}

.mocha-club-info p{
    padding-block: 5px;
}

#join-mocha-club
{
    font-size: 22px;
    font-weight: 600;
}
